<?xml version="1.0" encoding="utf-8" ?>
<menulist>
  <menu>
    <SimplifiedName>支付方式配置</SimplifiedName>
    <TraditionalName>支付方式配置</TraditionalName>
    <EnglishName>Payment setting</EnglishName>
    <ExternalEntityId>620be2d1-c134-41b3-a1c8-f1590d490126</ExternalEntityId>
    <ParentID>12</ParentID>
    <Url>Plugin/payment/paymentlist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
</menulist> 