<?xml version="1.0" encoding="utf-8"?>
<ModuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsRoot>1</IsRoot>
  <ModuleName>支付方式配置</ModuleName>
  <ModuleFolder>payment</ModuleFolder>
  <ModuleVersion>v1.0</ModuleVersion> 
</ModuleConfig> 