<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
    <!--Whir.ezEIP HttpModule配置-->
    <sectionGroup name="Whir.ezEIP.Web">
      <section name="queryStrings" type="Whir.ezEIP.Web.HttpModules.QueryString.QueryStringsSection, Whir.ezEIP, Version=5.0.4.0436, Culture=neutral" />
    </sectionGroup>
  </configSections>
  <!--全局变量设置-->
  <appSettings>
    <add key="ProductName" value="光盐财经后台系统" />
    <add key="ProjectNum" value="" />
    <add key="Version" value="v5.3.0(0649)" />
    <add key="UseDbType" value="sqlserver" />
    <add key="SystemPath" value="whir_system/" />
    <add key="UploadFilePath" value="uploadfiles/" />
    <add key="MobileFilePath" value="mobile/" />
    <add key="IsDemo" value="0" />
    <add key="EzeipType" value="0" />
    <add key="PluginFileOver" value="1" />
    <add key="FileAllowEditType" value=".shtml|.html|.htm|.css|.js|.aspx|.ascx|.cs" />
    <add key="DeskAllowImgType" value="jpg|gif|png|bmp|jpge" />
    <add key="DeskAllowFileType" value="rar|txt|xls|doc|ppt" />
    <add key="DeskFileMaxSize" value="10240" />
    <add key="EnableErrorPage" value="0" />
    <add key="RegKey" value="k7RbNLu2oxuHab0hhhvZrXbPhUAgFpyfyHKeqZQSWupVo3PNMZDF4ltoHgbqVIymX0LVdNwMQwbTPgcmNnEDCVD1djCyufwi" />
    <add key="NotCollectModuleType" value="'SinglePage_v0.0.01','Feedback_v0.0.01','Froms_v0.0.01'" />
    <add key="KillRefresh" value="0" />
    <add key="CanBrowseAspx" value="1" />
    <add key="SystemType" value="ezEIP" />
    <add key="StrRegex" value="(?i)&lt;[^&gt;]+?style=[\w]+?:expression\(|\b(onmouseover|onclick|expression|eval|alert|confirm|prompt)\b|^\+/v(8|9)|&lt;[^&gt;]*?=[^&gt;]*?&amp;#[^&gt;]*?&gt;|\b(and|or)\b.{1,6}?(=|&gt;|&lt;|\bin\b|\blike\b)|/\*.+?\*/|&lt;\s*script\b|&lt;\s*img\b|\bEXEC\b|UNION.+?SELECT|UPDATE.+?SET|INSERT\s+INTO.+?VALUES|(SELECT|DELETE).+?FROM|(CREATE|ALTER|DROP|TRUNCATE)\s+(TABLE|DATABASE)" />
    <add key="StaticWebUrl" value="" />
    <add key="TemplateDebug" value="true" />
    <add key="aspnet:MaxHttpCollectionKeys" value="50000" />
    <add key="IsStrongPassword" value="1" />
    <add key="ChangePwdDays" value="99999" />
    <add key="IsOnline" value="0" />
    <add key="ErrorCount" value="5" />
    <add key="LockTime" value="30" />
    <add key="DownloadUrl" value="Download/Download.aspx" />
    <add key="IsRemoveColor" value="0" />
    <add key="ProjectBugUrl" value="https://build.baiwanx.com.cn/Project2018/Desktop/User/Login" />
    <add key="Edition" value="200309" />
  </appSettings>
  <!--链接字符串-->
  <connectionStrings configSource="Config\ConnectionStrings.config" />
  <cachingConfiguration defaultCacheManager="Default_Cache_Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="Default_Cache_Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
      <add name="Whir_ezEIP5_LoginUserCacheManager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
      <add name="Whir_ezEIP5_SiteInfoCacheManager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <!--system.web节，IIS6或者IIS7的经典模式有用-->
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="72000" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="1024" enableVersionHeader="false" />
    <machineKey validationKey="8BFD2ECC6A29C731ABD40D0AE4DCB46920ACE1A1" decryptionKey="A7AB7AD599777BC83365EC71FC66FFF2D807494707C9D53C" decryption="3DES" validation="SHA1" />
    <!-- 请仅在开发过程中将此值设置为 true-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic.Compatibility, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <!--授权配置节，因现没使用到微软自带的Form验证，可以屏蔽-->
    <!--<authentication mode="Windows" />-->
    <!--自定义错误配置节 弃用-->
    <!--<customErrors configSource="Config\CustomErrors.config" />-->
    <!--用户控件注册-->
    <pages configSource="Config\Pages.config" />
    <!--Http处理程序-->
    <httpHandlers configSource="Config\HttpHandlers.config" />
    <!--http请求管道-->
    <httpModules configSource="Config\httpModules.config" />
  </system.web>
  <!--指定页面传递参数的集合。-->
  <Whir.ezEIP.Web>
    <queryStrings configSource="Config\QueryStrings.config" />
  </Whir.ezEIP.Web>
  <!--system.webServer节，IIS7的集成模式有用，system.webServer节在 Internet Information Services 7.0 下运行 ASP.NET AJAX所必需的。对早期版本的 IIS 来说则不需要此节。    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <!--asp.net 上传内容大小的最大限制2GB-->
        <requestLimits maxAllowedContentLength="2147483647" />
        <denyUrlSequences>
          <add sequence="~" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--用于ASP.NET AJAX模块-->
      <!--查询字符串过滤-->
      <remove name="QueryStringModule" />
      <add name="QueryStringModule" type="Whir.ezEIP.Web.HttpModules.QueryString.QueryStringModule, Whir.ezEIP, Version=1.0.0.0, Culture=neutral" />
    </modules>
    <handlers>
      <!--<add name="html" path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />-->
      <add name="checkcode" verb="*" path="checkcode.ashx" type="Whir.ezEIP.Web.HttpHandlers.CheckCodeHandler2" />
      <!--拦截asp、php、jsp页面执行-->
      <add name="interceptAsp" verb="*" path="*.asp" type="Whir.ezEIP.Web.HttpHandlers.InterceptHandler, Whir.ezEIP" />
      <add name="interceptPhp" verb="*" path="*.php" type="Whir.ezEIP.Web.HttpHandlers.InterceptHandler, Whir.ezEIP" />
      <add name="interceptJsp" verb="*" path="*.jsp" type="Whir.ezEIP.Web.HttpHandlers.InterceptHandler, Whir.ezEIP" />
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="400" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Powered-By" value="ezEIP" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".json"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>