<?xml version="1.0" encoding="utf-8"?>
<DiscuzXml xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DiscuzURL>http://www.bing.com</DiscuzURL>
  <APIKey>121212121212121gfgd</APIKey>
  <DiscuzKey>hgjf68bnhjklklp8bfcbghj</DiscuzKey>
  <ServerName>192.168.1.66</ServerName>
  <LoginName>sa</LoginName>
  <LoginPassword>66666666</LoginPassword>
  <DataBaseName>EIP4.0Full</DataBaseName>
</DiscuzXml>