<?xml version="1.0" encoding="utf-8"?>
<WxCredenceConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CredenceSet>
    <WxCredence>
      <OriginalId>gh_4aaaa48431cb</OriginalId>
      <WxAccount>wanhutest</WxAccount>
      <AppId>wx8be46f69e284c5c3</AppId>
      <AppSecret>5ac9d97227a770a9965e3a464a744412</AppSecret>
      <AppName>万户测试</AppName>
      <Token>xinweiForWhir</Token>
      <AccessToken />
      <TokenExpired>2018-08-10T16:02:02.2413258+08:00</TokenExpired>
    </WxCredence>
  </CredenceSet>
</WxCredenceConfig>