<?xml version="1.0" encoding="utf-8" ?>
<menulist>
  <menu>
    <SimplifiedName>网上商城</SimplifiedName>
    <TraditionalName>網上商城</TraditionalName>
    <EnglishName>Shop</EnglishName> 
    <ExternalEntityId>c9ddccdd-6c33-482c-8b83-05aad674077f</ExternalEntityId> 
    <ParentID>0</ParentID>
    <Url>#</Url>
    <Target>child</Target>
    <level>1</level>
    <sort>0</sort>
 </menu>
  <menu>
    <SimplifiedName>订单管理</SimplifiedName>
    <TraditionalName>訂單管理</TraditionalName>
    <EnglishName>Order</EnglishName>
    <ExternalEntityId>72c79837-b216-427e-884f-93c967e56794</ExternalEntityId>
    <ParentID>c9ddccdd-6c33-482c-8b83-05aad674077f</ParentID>
    <Url>#</Url>
    <Target>child</Target>
    <level>2</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>订单列表</SimplifiedName>
    <TraditionalName>訂單列表</TraditionalName>
    <EnglishName>OrderList</EnglishName>
    <ExternalEntityId>f6329696-946d-49b1-8045-b54128923895</ExternalEntityId>
    <ParentID>72c79837-b216-427e-884f-93c967e56794</ParentID>
    <Url>Plugin/shop/order/OrderList.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>支付方式管理</SimplifiedName>
    <TraditionalName>支付方式管理</TraditionalName>
    <EnglishName>Payment</EnglishName>
    <ExternalEntityId>b69fb39b-4a97-46af-aa11-9b640feaca26</ExternalEntityId>
    <ParentID>72c79837-b216-427e-884f-93c967e56794</ParentID>
    <Url>Plugin/shop/order/payment/paymentlist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>配送方式</SimplifiedName>
    <TraditionalName>配送方式</TraditionalName>
    <EnglishName>Shipping</EnglishName>
    <ExternalEntityId>b9668d40-83e6-4e12-a67c-999f7f1c44be</ExternalEntityId>
    <ParentID>72c79837-b216-427e-884f-93c967e56794</ParentID>
    <Url>Plugin/shop/order/courier/courierlist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>商品管理</SimplifiedName>
    <TraditionalName>商品管理</TraditionalName>
    <EnglishName>Product</EnglishName>
    <ExternalEntityId>d60d1b13-1ffe-466c-95e2-2d23405e5473</ExternalEntityId>
    <ParentID>c9ddccdd-6c33-482c-8b83-05aad674077f</ParentID>
    <Url>#</Url>
    <Target>child</Target>
    <level>2</level>
    <sort>2</sort>
  </menu>
  <menu>
    <SimplifiedName>商品列表</SimplifiedName>
    <TraditionalName>商品列表</TraditionalName>
    <EnglishName>ProductList</EnglishName>
    <ExternalEntityId>dba77a32-5a76-4c6b-aac2-c5a6212df725</ExternalEntityId>
    <ParentID>d60d1b13-1ffe-466c-95e2-2d23405e5473</ParentID>
    <Url>Plugin/shop/product/productlist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>类别管理</SimplifiedName>
    <TraditionalName>類別管理</TraditionalName>
    <EnglishName>Category Manage</EnglishName>
    <ExternalEntityId>6257d606-b84a-4e94-b867-2b8bc97198fd</ExternalEntityId>
    <ParentID>c9ddccdd-6c33-482c-8b83-05aad674077f</ParentID>
    <Url>#</Url>
    <Target>child</Target>
    <level>2</level>
    <sort>3</sort>
  </menu>
  <menu>
    <SimplifiedName>类别列表</SimplifiedName>
    <TraditionalName>類別列表</TraditionalName>
    <EnglishName>Category</EnglishName>
    <ExternalEntityId>7cb76d1f-3040-4318-9f51-ef4bdfab92fd</ExternalEntityId>
    <ParentID>6257d606-b84a-4e94-b867-2b8bc97198fd</ParentID>
    <Url>Plugin/shop/product/category/categorylist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>规格管理</SimplifiedName>
    <TraditionalName>規格管理</TraditionalName>
    <EnglishName>AttrManage</EnglishName>
    <ExternalEntityId>8b89dd65-bd08-4858-af21-98f867909398</ExternalEntityId>
    <ParentID>c9ddccdd-6c33-482c-8b83-05aad674077f</ParentID>
    <Url>#</Url>
    <Target>child</Target>
    <level>2</level>
    <sort>4</sort>
  </menu>
  <menu>
    <SimplifiedName>规格管理</SimplifiedName>
    <TraditionalName>規格管理</TraditionalName>
    <EnglishName>AttrManage</EnglishName>
    <ExternalEntityId>2ca19914-4c6b-4311-bf71-adf9383e07ed</ExternalEntityId>
    <ParentID>8b89dd65-bd08-4858-af21-98f867909398</ParentID>
    <Url>Plugin/shop/product/attr/attrlist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>搜选项管理</SimplifiedName>
    <TraditionalName>搜選項管理</TraditionalName>
    <EnglishName>SearchManage</EnglishName>
    <ExternalEntityId>4ec7a119-59c6-487f-928a-b93209c4603e</ExternalEntityId>
    <ParentID>8b89dd65-bd08-4858-af21-98f867909398</ParentID>
    <Url>Plugin/shop/product/search/searchlist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>咨询管理</SimplifiedName>
    <TraditionalName>咨詢管理</TraditionalName>
    <EnglishName>ConsultManage</EnglishName>
    <ExternalEntityId>211ab954-167e-4e4a-bf4f-042d3f87414a</ExternalEntityId>
    <ParentID>8b89dd65-bd08-4858-af21-98f867909398</ParentID>
    <Url>Plugin/shop/product/consult/consultlist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
  <menu>
    <SimplifiedName>自定义属性管理</SimplifiedName>
    <TraditionalName>自定義屬性管理</TraditionalName>
    <EnglishName>Custom attributes manage</EnglishName>
    <ExternalEntityId>1f71787e-37f8-448e-a2e4-f87db8113393</ExternalEntityId>
    <ParentID>c9ddccdd-6c33-482c-8b83-05aad674077f</ParentID>
    <Url>#</Url>
    <Target>child</Target>
    <level>2</level>
    <sort>5</sort>
  </menu>
  <menu>
    <SimplifiedName>自定义属性列表</SimplifiedName>
    <TraditionalName>自定義屬性列表</TraditionalName>
    <EnglishName>Custom attributes manage</EnglishName>
    <ExternalEntityId>6262b8fe-7981-49cb-bb39-c269f3062279</ExternalEntityId>
    <ParentID>1f71787e-37f8-448e-a2e4-f87db8113393</ParentID>
    <Url>Plugin/shop/product/field/profieldlist.aspx</Url>
    <Target>child</Target>
    <level>3</level>
    <sort>0</sort>
  </menu>
</menulist> 