<?xml version="1.0"?>
<root>
    <page path="" template="~/cn/template/index.html"/>
    <page path="default" template="~/cn/template/index.html"/>
    <page path="index" template="~/cn/template/index.html"/>
    <page path="about" template="~/cn/template/about.html"/>
    <page path="about.hello" template="~/cn/template/about.html"/>
    <page path="about.aspx" template="~/cn/template/about.html"/>
    <page path="about.html" template="~/cn/template/about.html"/> 
    <page path="news" template="~/cn/template/news.html"/>
    <page path="item" template="~/cn/template/news_info.html"/>
    <page path="search" template="~/cn/template/search.html"/>
    <page path="business" template="~/cn/template/business.html"/>
    <page path="businesslist" template="~/cn/template/business_list.html"/>
    <page path="businessinfo" template="~/cn/template/business_info.html"/>
    <page path="service" template="~/cn/template/service.html"/>
    <page path="jobs" template="~/cn/template/jobs.html"/>
    <page path="contact" template="~/cn/template/contact.html"/>
    <page path="default.aspx" template="~/cn/template/index.html"/>
</root>
