<?xml version="1.0"?>

<httpModules>

    <!--ASP.NET AJAX模块-->
    <add name="ScriptModule"
         type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

    <!--Url查询字符串检查，开启时，需注意QueryString.config文件配置-->
    <add name="QueryStringModule" type="Whir.ezEIP.Web.HttpModules.QueryString.QueryStringModule, Whir.ezEIP, Version=1.0.0.0, Culture=neutral" />    
     
</httpModules>