<?xml version="1.0" encoding="utf-8"?>
<pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false"  >
  <controls>

    <add tagPrefix="wtl" namespace="Whir.Label.Dynamic" assembly="Whir.Label" />
    <add tagPrefix="wtl" tagName="Category" src="~/whir_system/UserControl/LabelControl/Category.ascx" />
    <add tagPrefix="whir" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
    <add tagPrefix="whir" namespace="Whir.Framework" assembly="Whir.Framework" />
    <add tagPrefix="whir" namespace="Whir.Controls" assembly="Whir.Controls" />
    <add tagPrefix="whir" tagName="SiteColumn" src="~/Whir_System/UserControl/DeveloperControl/GetColumn.ascx" />
    <add tagPrefix="whir" tagName="ColumnLeftTree" src="~/Whir_System/UserControl/DeveloperControl/ColumnLeftTree.ascx" />
    <add tagPrefix="whir" tagName="LeftMenu" src="~/Whir_System/UserControl/DeveloperControl/LeftMenu.ascx" />
    <add tagPrefix="whir" tagName="ContentManager" src="~/Whir_System/UserControl/ContentControl/ContentManager.ascx" />
    <add tagPrefix="whir" tagName="DynamicForm" src="~/Whir_System/UserControl/ContentControl/DynamicForm.ascx" />
    <add tagPrefix="whir" tagName="DetailsForm" src="~/Whir_System/UserControl/ContentControl/DetailsForm.ascx" />
    <add tagPrefix="whir" tagName="DetailsForm_Bak" src="~/Whir_System/UserControl/ContentControl/DetailsForm_Bak.ascx" />
    <add tagPrefix="whir" tagName="AnswerForm" src="~/Whir_System/UserControl/ContentControl/AnswerForm.ascx" />
    <add tagPrefix="whir" tagName="SiteFile" src="~/Whir_System/UserControl/SiteFile.ascx" />
    <add tagPrefix="whir" tagName="WorkFlowBar" src="~/Whir_System/UserControl/ContentControl/WorkFlowBar.ascx" />
    <add tagPrefix="whir" tagName="WorkFlowLogs" src="~/Whir_System/UserControl/ContentControl/WorkFlowLogs.ascx" />
    <add tagPrefix="wtl" tagName="include" src="~/Whir_System/UserControl/LabelControl/Include.ascx" />
    <add tagPrefix="wtl" tagName="inforarea" src="~/Whir_System/UserControl/LabelControl/InforArea.ascx" />
    <add tagPrefix="wtl" tagName="relation" src="~/Whir_System/UserControl/LabelControl/Relation.ascx" />
    <add tagPrefix="wtl" tagName="many" src="~/Whir_System/UserControl/LabelControl/Many.ascx" />
    <add tagPrefix="wtl" tagName="list" src="~/Whir_System/UserControl/LabelControl/List.ascx" />
    <add tagPrefix="wtl" tagName="if" src="~/Whir_System/UserControl/LabelControl/If.ascx" />
    <add tagPrefix="wtl" tagName="search" src="~/Whir_System/UserControl/LabelControl/Search.ascx" />
    <add tagPrefix="wtl" tagName="menu" src="~/Whir_System/UserControl/LabelControl/Menu.ascx" />
    <add tagPrefix="wtl" tagName="fileinfor" src="~/Whir_System/UserControl/LabelControl/FileInfor.ascx" />
    
    <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

    <!--前台文件上传控件-->
    <add tagPrefix="whir" tagName="UploadControl" src="~/UserControl/UploadControl.ascx" />
  </controls>
</pages>