<?xml version="1.0" encoding="utf-8"?>
<root>
    <folders>
        <folder>Ajax</folder>
        <folder>App_Code</folder>
        <folder>App_Data</folder>
        <folder>App_GlobalResources</folder>
        <folder>Bin</folder>
        <folder>cn</folder>
        <folder>config</folder>
        <folder>Editor</folder>
        <folder>label</folder>
        <folder>member</folder>
        <folder>mobile</folder>
        <folder>Payment</folder>
        <folder>res</folder>
        <folder>Shop</folder>
        <folder>uploadfiles</folder>
        <folder>UserControl</folder>
        <folder>whir_system</folder>
    </folders>
    <files>
        <file>404.aspx</file>
        <file>404.aspx.cs</file>
        <file>ADClick.aspx</file>
        <file>ADClick.aspx.cs</file>
        <file>Global.asax</file>
        <file>web.config</file>
    </files>
</root>