<?xml version="1.0" encoding="utf-8" ?>
<configSettings name="ConfigStrategy" description="配置策略">
	<!--每一个节点都必须有name 、description和 id 、parentId 的属性，每一个子节点，的name都必须是根据项目中的配置文件的名称，不包含后缀名(.config),区分大小写的 ,因为每一次数据库中的数据都是根据这里来加载的,父节点的 parentId 都必须为 0  ，因为 在加载树的时候，根据parentId 为0来处理的，所有 id的根据当前的数字的顺序来定，而子节点的parentId为当前父节点的 id-->
  
	<!--全局配置，主要根是配置web.config的-->
	<systemSetting name="GlobalConfig" description="全局配置" id="1" parentId="0">

		<!--注意，web.config 的名称必须为 name="WebConfig", 因为程序中使用的是WebConfig  -->
		<sysConfig name="WebConfig" description="网站配置"  id="2" parentId="1"/>
	</systemSetting>
	<!--站点配置，主要是用于配置 系统中除了 web.config的，所有配置文件-->
	<siteSetting name="SiteConfig" description="站点配置" id="3" parentId="0">
		<siteConfig name="EmailConfig" description="邮箱配置"  id="4" parentId="3"/>
		<siteConfig name="pictureConfig" description="图片配置" id="5" parentId="3"/>
		<siteConfig name="SystemConfig" description="系统配置" id="6" parentId="3" />
		<siteConfig name="UploadConfig" description="上传配置" id="8" parentId="3"/>
	</siteSetting>
</configSettings>