<?xml version="1.0" encoding="utf-8"?>
<EmailConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Email>emailauthentication@guangyancaijing.com</Email>
  <SMTP>smtpout.secureserver.net</SMTP>
  <Port>465</Port>
  <UserName>emailauthentication</UserName>
  <Password>gycj@2021</Password>
</EmailConfig>