<?xml version="1.0" encoding="utf-8" ?>
<GenerateLabels name="GenerateLabel" description="置标生成器">
	<SysLabel name="SEO"/>
	<SysLabel name="CopyRight"/>
	<SysLabel name="MetaKey"/>
	<SysLabel name="MetaDesc"/>
	<SysLabel name="Record"/>
	<SysLabel name="SiteName"/>
	<SysLabel name="MetaTitle"/>
	<SysLabel name="Hits"/>
	<SysLabel name="Resource"/>
	<SysLabel name="Location"/>
	<SysLabel name="Include"/>
	<SysLabel name="Column"/>
	<SysLabel name="Infor"/>
	<SysLabel name="Content"/>
	<SysLabel name="InforArea"/>
	<SysLabel name="Webform"/>
	<SysLabel name="Survey"/>
  	<SysLabel name="Vote"/>
	<SysLabel name="List"/>
	<SysLabel name="Many"/>
	<SysLabel name="Statis"/>
	<SysLabel name="Service"/>
	<SysLabel name="Play"/>
	<SysLabel name="Category"/>
</GenerateLabels>
