<?xml version="1.0" encoding="utf-8"?>
<MobileConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MobileLogo>logo/logo_mobile.jpg</MobileLogo>
  <NavColor>#90aee5</NavColor>
  <SiteId>2</SiteId>
  <City>广州</City>
  <Address>广州万户网络</Address>
  <IsUse>1</IsUse>
</MobileConfig>