<?xml version="1.0"?>
<NotAllowFieldName>

    <a>abstract|as|asc|ascending|at|avg</a>
    <b>base|bit|blob|bool|boolean|both|break|by|byte</b>
    <c>cache|call|called|case|cast|catch|char|character|checked|class|clob|column|column_name|connect|const|contains|continue|convert|count|create</c>
    <d>database|decimal|declare|default|delete|descending|date|datetime|do|double|drop|dynamic</d>
    <e>each|else|enum|event|explicit|extern|exsits|exec|excute</e>
    <f>false|fetch|finally|fixed|float|for|foreach|free|from</f>
    <g>goto|get|global|group</g>

    <h>having|host</h>
    <i>identity|index|if|implicit|insert|in|input|int|integer|interface|internal|into|isnull</i>
    <j>join</j>
    <k>key</k>
    <l>last|left|length|less|limit|like|lock|long|let</l>
    <m>min|max</m>
    <n>new|null</n>

    <o>operator|orderby|out|override</o>
    <p>params|partial|private|protected|public</p>
    <q></q>

    <r>readonly|ref|remove|return</r>
    <s>sbyte|sealed|select|set|short|size|sizeof|stackalloc|static|string|switch</s>
    <t>this|throw|true|try|typeof</t>

    <u>uint|ulong|unchecked|unsafe|update|ushort|using</u>
    <v>value|var|virtual|void|volatile</v>
    <w>where|while</w>

    <x></x>
    <y>yield</y>
    <z></z>
  <punctuation>'</punctuation>
</NotAllowFieldName>
