<?xml version="1.0" encoding="utf-8"?>
<PictureConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IsAutoMakeWatermark>true</IsAutoMakeWatermark>
  <WaterMarkStyle>0</WaterMarkStyle>
  <Proportion>0.2</Proportion>
  <WaterMarkFontText>光盐财经</WaterMarkFontText>
  <WaterMarkFont>楷体</WaterMarkFont>
  <WaterMarkFontColor>ff0000</WaterMarkFontColor>
  <WaterMarkPic />
  <WaterMarkTransparent>200</WaterMarkTransparent>
  <WaterMarkWhere>9</WaterMarkWhere>
</PictureConfig>