<?xml version="1.0" encoding="utf-8"?>
<SystemConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <OpenLog>1</OpenLog>
  <DNS />
  <TimeOut>1400</TimeOut>
  <SystemLoginBgType>0</SystemLoginBgType>
  <SystemLoginBgForMap>117.309689,31.829673</SystemLoginBgForMap>
  <SystemLoginBgForCustom />
  <SystemLoginBgForRandom>2000</SystemLoginBgForRandom>
  <HistoryNum>10</HistoryNum>
  <PageSetting>10|25|35|50|100</PageSetting>
  <ListTextLength>50</ListTextLength>
  <BannerTip>支持格式：jpg,png,gif,bmp;</BannerTip>
  <SmallBannerTip>支持格式：jpg,png,gif,bmp;</SmallBannerTip>
  <Editor>ueditor</Editor>
  <RemoveColorStyle>
    body {
    -webkit-filter: grayscale(100%); /* webkit */
    -moz-filter: grayscale(100%); /*firefox*/
    -ms-filter: grayscale(100%); /*ie9*/
    -o-filter: grayscale(100%); /*opera*/
    filter: grayscale(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    filter:gray; /*ie9- */
    }
  </RemoveColorStyle>
  <SingleLogin>0</SingleLogin>
</SystemConfig>