<TestData >
	<Item>
		<ModelId>87</ModelId>
		<Title>万户网络受邀参加2012年上海医院信息网络大会“应用安全融合”</Title>
		<Content>
			<p style="color:#000000;text-indent:21pt;text-align:justify;">
				<span style="font-size:10.5pt;font-family:宋体;">万众瞩目的</span>
				<span style="font-size:10.5pt;font-family:宋体;">由上海市医院协会信息管理专业委员会主办的“201</span>
				<span style="font-size:10.5pt;font-family:宋体;">2年</span>
				<span style="font-size:10.5pt;font-family:宋体;">上海医院信息网络大会”</span>
				<span style="font-size:10.5pt;font-family:宋体;">于</span>
				<span style="font-size:10.5pt;font-family:宋体;">11月16日</span>
				<span style="font-size:10.5pt;font-family:宋体;">在</span>
				<span style="font-size:10.5pt;font-family:宋体;">沪隆重举行，作为协同OA软件领军企业的北京万户网络技术有限公司（以下简称“万户网络”）应邀参加了本次会议。</span>
				<span style="font-size:10.5pt;font-family:宋体;"></span>
			</p>
			<p style="color:#000000;text-indent:21pt;text-align:justify;">
				<span style="font-size:10.5pt;font-family:宋体;">万户网络参会人员名单：上海分公司时总、胡磊、尹光辉、陈继云、市场部蒋对秀。</span>
				<span style="font-size:10.5pt;font-family:宋体;"></span>
			</p>
			<p style="color:#000000;text-indent:21pt;text-align:justify;">
				<span style="font-size:10.5pt;font-family:宋体;">此次会议，</span>
				<span style="font-size:10.5pt;font-family:宋体;">主要围绕</span>
				<span style="font-size:10.5pt;font-family:宋体;">“应用”、“安全”、“融合”</span>
				<span style="font-size:10.5pt;font-family:宋体;">为主题</span>
				<span style="font-size:10.5pt;font-family:宋体;">。大会</span>
				<span style="font-size:10.5pt;font-family:宋体;">还</span>
				<span style="font-size:10.5pt;font-family:宋体;">邀请了行业领导、医院管理与信息专家、专业厂商，围绕“应用”、“安全”、“融合”三大内容，</span>
				<span style="font-size:10.5pt;font-family:宋体;">分别从不同的专业角度和思路开展深度剖析</span>
				<span style="font-size:10.5pt;font-family:宋体;">；</span>
				<span style="font-size:10.5pt;font-family:宋体;">大会</span>
				<span style="font-size:10.5pt;font-family:宋体;">还开设了分论坛给</span>
				<span style="font-size:10.5pt;font-family:宋体;">参会人员提供</span>
				<span style="font-size:10.5pt;font-family:宋体;">了</span>
				<span style="font-size:10.5pt;font-family:宋体;">更多学术交流与沟通的机会。</span>
				<span style="font-size:10.5pt;font-family:宋体;"></span>
			</p>
			<p style="color:#000000;text-indent:21pt;text-align:justify;">
				<span style="font-size:10.5pt;font-family:宋体;">据了解，上海具有良好的信息化基础，卫生部在“3521工程中”明确提出了信息化安全应用等问题。信息化安全应用也是公立医院改革试点的重要任务之一，对于促进医疗服务的安全化、推进医疗服务管理向科学化、规范化、专业化、精细化和信息化的发展都有至关重要的作用。</span>
				<span style="font-size:10.5pt;font-family:宋体;"></span>
			</p>
			<p style="color:#000000;text-indent:21pt;text-align:justify;">
				<span style="font-size:10.5pt;font-family:宋体;">此外，上海卫生信息化发展也是打造智慧城市的重要组成部分。与会专家表示，在医改大背景之下，医院信息化有举足轻重的作用。现在的医院已经不是原来意义上的医院，是卫生服务网络最重要的节点。在整个医疗卫生工作中，医院管理不能仅仅留在医院本身的层面上，而要从整个医疗卫生网络构架中考虑服务和发展。</span>
				<span style="font-size:10.5pt;font-family:宋体;">同时作为万户的合作伙伴</span>
				<span style="font-size:10.5pt;font-family:宋体;">IBM的领导在大会演讲中，提到与万户网络的信息化合作并给予了万户网络极高的应用评价。</span>
				<span style="font-size:10.5pt;font-family:宋体;"></span>
			</p>
			<p style="color: rgb(0, 0, 0); text-indent: 21pt; text-align: justify;">
				<span style="font-size:10.5pt;font-family:宋体;">此次参会，各位同事都表现了高度的团队精神，大会因为万户网络的参与，为其增添了不少活力及医疗行业信息化应用价值。大会并助力万户网络顺利进军医疗行业奠定了有效基础。</span>
			</p>
		</Content>
	</Item>
	<Item >
		<ModelId>87</ModelId>
		<Title>万户网络携手百度 助力众企业抢占移动大商机</Title>
		<Content>
			<p>
				2014年11月13日，由百度广州分公司举办的“高站远瞩，移揽天下——2014年百度移动推广峰会 · 广州站”在广州香格里拉酒店隆重举行。广州万户网络技术有限公司作为百度移动建站的战略核心合作伙伴出席了本次峰会，并参与现场演讲与展台展示。
			</p>
			<p>
				根据百度公司的现场报告，截至2014年第2季度，智能手机的人口普及率进一步提高，达到30%以上。在这庞大的用户群中，85%的智能机用户表示经常使用百度移动搜索，手机百度App的月活数量也已达5亿。
			</p>
		</Content>
	</Item>
	<Item>
		<ModelId>87</ModelId>
		<Title>广州立白企业集团有限公司委托万户建设网站</Title>
		<Content>
			<p>
				广州立白企业集团有限公司是国内日化龙头企业，创建于1994年，总部位于广州市，主营民生离不开的日化产品，产品范围涵盖“织物洗护、餐具洗涤、消杀、家居清洁、空气清新、口腔护理、身体清洁、头发护理、肌肤护理及化妆品”等九大类几百个品种，营销网络星罗棋布，遍布全国各省（区）、直辖市。
			</p>
			<p>
				万户网络从1998年开始提供互联网、电子政务、电子商务技术服务，积累了大量的经验，同时也培养起了一支成熟的技术开发团队，并按照国际软件成熟度模型 CMM标准的要求建立了软件工程管理体系，确保能为客户开发出高质量和满足客户需求的软件产品，在本次为广州立白企业集团有限公司提供的网站建设服务中，万户凭借其精湛的技术、严谨的项目管理体系成功赢得了与广州立白企业集团有限公司网络服务合作合同。
			</p>
		</Content>
	</Item>
	<Item>
		<ModelId>81</ModelId>
		<ProductName>ezEIP5.0</ProductName>
		<ProductModel>普通版</ProductModel>
	</Item>
	<Item>
		<ModelId>81</ModelId>
		<ProductName>ezSITE</ProductName>
		<ProductModel>定制版</ProductModel>
	</Item>
	<Item>
		<ModelId>81</ModelId>
		<ProductName>ezSHOP(易商)</ProductName>
		<ProductModel>商城版</ProductModel>
	</Item>
	<Item>
		<ModelId>83</ModelId>
		<Content>
			<p>
				<span style="color: rgb(135, 135, 135); font-family: &quot;Microsoft YaHei&quot;; font-size: 13px; text-align: center; background-color: rgb(255, 255, 255);">万户网络，成立于1998年2月，专业致力于网站建设和协同办公软件开发，是中国第一批从事网站建设、电子商务开发，并获国家认证的“双软”的企业，已通过ISO9001国际质量管理体系认证，是中国企业信息化标准工作组成员和中国电子政务IT100强企业，荣获国家科技部科技型中小企业技术创新奖和中国优秀软件领军企业称号。万户网络目前有300多名员工，定位高端服务，已为3000多个大中型企业、事业单位和政府部门成功建设了网站，拥有10多项自主知识产权的软件产品。过去十几年中，万户网络积累了丰富的服务经验，培养了一支成熟的技术开发和服务团队，确保客户每个项目成功。</span>
			</p>
			<p>
				<span style="color: rgb(135, 135, 135); font-family: &quot;Microsoft YaHei&quot;; font-size: 13px; text-align: center; background-color: rgb(255, 255, 255);">万户网络坚持做有用的网站，追求能给客户的使用价值，立志做有长远企业，经过十几年的努力已发展成为网站建设行业的佼佼者，万户网络是有科学管理、有技术、有全国性规模的网站建设公司，秉持四个基本经营理念：1、顺应互联网发展潮流，做更加有用的网站；2、重视科学管理，不断革新生产、研发、设计和服务管理模式；3、以全国统一的规范服务为基础，强化本地化服务力量，让客户获得专业又及时的服务；4、力求企业规模，在规模的基础上获得实力和财力支持，持续加强企业管理、持续创新、出给客户带来更大利益的、更有用的服务。</span>
			</p>
			<p>
				<span style="color: rgb(135, 135, 135); font-family: &quot;Microsoft YaHei&quot;; font-size: 13px; text-align: center; background-color: rgb(255, 255, 255);"> 广州万户网络技术有限公司作为集团总部，负责互联网领域的战略投资、业界合作及品牌运营。万户网络在广州、深圳、上海、南京、武汉设立全资子公司，分别作为华南、华东及华中地区技术中心，在厦门、杭州、苏州、合肥、郑州、济南设立分支机构，为当地省份提供开发和设计服务;在长沙、东莞、佛山、中山、珠海、泉州、福州设立本城市及周边的服务机构。万户网络全国分支机构近20家，员工500多名。</span>
			</p>
		</Content>
	</Item>
	<Item>
		<ModelId>84</ModelId>
		<MagazineName>万户网络电子期刊1</MagazineName>
	</Item>
	<Item>
		<ModelId>84</ModelId>
		<MagazineName>万户网络电子期刊2</MagazineName>
	</Item>
	<Item>
		<ModelId>84</ModelId>
		<MagazineName>万户网络电子期刊3</MagazineName>
	</Item>
	<Item>
		<ModelId>89</ModelId>
		<CategoryName>类别1</CategoryName>
	</Item>
	<Item>
		<ModelId>89</ModelId>
		<CategoryName>类别2</CategoryName>
	</Item>
	<Item>
		<ModelId>89</ModelId>
		<CategoryName>类别3</CategoryName>
	</Item>
	<Item>
		<ModelId>90</ModelId>
		<JobName>招聘软件工程师</JobName>
	</Item>
	<Item>
		<ModelId>90</ModelId>
		<JobName>招聘设计师</JobName>
	</Item>
	<Item>
		<ModelId>90</ModelId>
		<JobName>招聘前端工程师</JobName>
	</Item>
	<Item>
		<ModelId>93</ModelId>
		<Name>操作手册</Name>
	</Item>
	<Item>
		<ModelId>93</ModelId>
		<Name>需求说明书</Name>
	</Item>
	<Item>
		<ModelId>93</ModelId>
		<Name>案例列表</Name>
	</Item>
	<Item>
		<ModelId>97</ModelId>
		<Title>最佳网站投票</Title>
	</Item>
	<Item>
		<ModelId>97</ModelId>
		<Title>最佳员工投票</Title>
	</Item>
	<Item>
		<ModelId>97</ModelId>
		<Title>最佳新人投票</Title>
	</Item>
	<Item>
		<ModelId>100</ModelId>
		<Title>午休时间调整问卷</Title>
	</Item>
	<Item>
		<ModelId>100</ModelId>
		<Title>最好的脾气调查问卷</Title>
	</Item>
	<Item>
		<ModelId>100</ModelId>
		<Title>工作态度调查问卷</Title>
	</Item>
	<Item>
		<ModelId>104</ModelId>
		<Company>万户网络广州分公司</Company>
	</Item>
	<Item>
		<ModelId>104</ModelId>
		<Company>万户网络上海分公司</Company>
	</Item>
	<Item>
		<ModelId>104</ModelId>
		<Company>万户网络深圳分公司</Company>
	</Item>
	<Item>
		<ModelId>105</ModelId>
		<Name>万户官网网址</Name>
	</Item>
	<Item>
		<ModelId>105</ModelId>
		<Name>万户ezEIP网址</Name>
	</Item>
	<Item>
		<ModelId>105</ModelId>
		<Name>万户OA网址</Name>
	</Item>
</TestData>