<?xml version="1.0" encoding="utf-8"?>
<UploadConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsRename>true</IsRename>
  <UpLoadType>0</UpLoadType>
  <SaveFileNameType>0</SaveFileNameType>
  <DirectoryType>1</DirectoryType>
  <AllowPicType>jpg|png|gif|bmp</AllowPicType>
  <MaxPicSize>2097151</MaxPicSize>
  <AllowFileType>txt|doc|docx|xls|xlsx|ppt|pptx|pdf|zip|rar|swf|flv|3gp|mp4</AllowFileType>
  <MaxFileSize>2097150</MaxFileSize>
  <FtpAddress>192.168.1.78</FtpAddress>
  <FtpUserName>test</FtpUserName>
  <FtpPassword>test</FtpPassword>
</UploadConfig>