<?xml version="1.0" encoding="utf-8"?>
<WeChatPayConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <APPID>wxde1d6951e967a2ec</APPID>
  <MCHID>1232280402</MCHID>
  <KEY>6e02520c628fd9875ef12bfc4b396b55</KEY>
  <APPSECRET>4fad4ca8933532daf3d4a5799e08d0be</APPSECRET>
  <NOTIFY_URL>http://gz.gzwhir.com/gzlhty201609012912/Payment/wxpay/WxPayNotify.asp</NOTIFY_URL>
</WeChatPayConfig>