        <script type="text/javascript">
            //找回密码
            function TakeBackPwd() {
                var f_username = $.trim($("#f_username").val());
                var f_email = $.trim($("#f_email").val());
                var f_code = $.trim($("#f_code").val());
                var errormsg = "";
                var m = 1;
                if (f_username == '') {
                    errormsg += m + ".用户名不能为空\n";
                    m++;
                }
                if (f_email == "") {
                    errormsg += m + ".安全邮箱不能为空\n";
                    m++;
                } else {
                    var reg = /^\w+([-+.]\w+)*@\w+([-.]\\w+)*\.\w+([-.]\w+)*$/;
                    if (!reg.test(f_email)) {
                        errormsg += m + ".安全邮箱格式不正确\n";
                        m++;
                    }
                }
                if (f_code == '') {
                    errormsg += m + ".验证码不能为空";
                    m++;
                }
                if (errormsg.length > 0) {
                    alert(errormsg);
                } else {
                    $("#btn_takeBackPwd").attr("disabled", "disabled");
                    var data = { username: f_username, email: f_email, code: f_code };
                    $.ajax({
                        //url: whir.site.getAppPath() + "label/member/getpassword.aspx", //路径需更改
                        url: "{$syspath}label/member/getpassword.aspx",
                        type: "POST",
                        data: data,
                        success: function (msg) {
                            ChangeCode();
                            alert(msg);
                            $("#btn_takeBackPwd").attr("disabled", "");
                        },
                        error: function () {
                            alert("页面请求失败");
                            $("#btn_takeBackPwd").attr("disabled", "");
                        }
                    });
                }
            }
            //更改验证码
            function ChangeCode() {
                $('#f_imgcode').attr('src', 'checkcode.ashx?' + (new Date().getMilliseconds()));
            }
        </script>
        <ul>
            <li>用户名：<input id="f_username" type="text" maxlength="50" /></li>
            <li>安全邮箱：<input id="f_email" type="text" maxlength="100" /></li>
            <li>验证码：<input id="f_code" type="text" maxlength="8" /><img id="f_imgcode" src="checkcode.ashx"
                onclick="ChangeCode()" /><a href="javascript:ChangeCode()">看不清？换一张</a></li>
        </ul>
        <input id="btn_takeBackPwd" type="button" onclick="TakeBackPwd()" value="找回密码" />