<script type="text/javascript">
        $(function () {
            //异步判断是否登录
            $.ajax({
                url: whir.site.getAppPath() + "label/member/islogin.aspx",
                //url: "{$syspath}label/member/islogin.aspx",//没有用到 wtl:resource 置标的写法
                cache: false,
                success: function (data) {
                    var result = eval("[" + data + "]")[0]; //值: [{'islogin':'1','username':'张三'}]
                    if (result.islogin == "1") { // 已经登录
                        $(".member").show();
                        $(".username").text(result.username)//页面顶部显示用户名使用
                    } else {
                        $(".login").show();
                        //location.href = whir.site.getAppPath()+"member/login.aspx";//会员中心，未登录跳转
                        //location.href = "{$syspath}member/login.aspx";//会员中心，未登录跳转
                    }
                }
            })
        });
        //会员异步退出
        function loginout() {
            $.ajax({
                url: whir.site.getAppPath() + "label/member/loginout.aspx?t=" + new Date().getMilliseconds(),
                //url: "{$syspath}label/member/loginout.aspx?t=" + new Date().getMilliseconds(),//没有用到 wtl:resource 置标的写法
                success: function (data) {
                    location.href = location.href; //刷新本页
                    //location.href=whir.site.getAppPath+"member/login.aspx";//登录页
                }
            });
        }
    </script>
 
    <div class="TopLogin">
        <span style="display:none;" class="inside">您好，<b class="username"></b> <a href="#">个人中心</a> | <a href="javascript:loginout();">退出</a></span>
        <span style="display:none;" class="outside"><a href="#">登录</a> | <a href="#">注册</a></span>
    </div>