        <script type="text/javascript">
            $(function () {
                //会员登录
                $("[commandbutton='login']").bind('click', function () {
                    var parent = $(this).parents("[labelcanva = 'true']:eq(0)");
                    var loginName = $.trim(parent.find("[name='loginname']").val());
                    var password = parent.find("[name='password']").val();
                    var validator = parent.find("[name='validator']").val();
                    var autoLogin = parent.find("[name='autologin']").attr("checked") ? true : false;
                    var data;
                    var errmsg = '';
                    var index = 1;
                    if (loginName == '') {
                        errmsg = index + ".登录名称不能为空\n";
                        index++;
                    }
                    if (password == '') {
                        errmsg += index + ".密码不能为空\n";
                        index++;
                    }
                    if (!validator) {
                        if ($.trim(validator) == '') {
                            errmsg += index + ".验证码不能为空\n";
                            index++;
                        }
                        if ($.trim(validator) != '' && $.trim(validator).length < 4) {
                            errmsg += index + ".验证码不能少于4位\n";
                            index++;
                        }
                        data = { loginname: loginName, password: password, autologin: autoLogin };
                    } else {
                        data = { loginname: loginName, password: password, validator: validator, autologin: autoLogin };
                    }
                    if (errmsg.length > 0) {
                        alert(errmsg);
                        return;
                    }
                    $.ajax({
                        url: whir.site.getAppPath() + "label/member/login.aspx", //路径需更改
                        //url: "{$syspath}label/member/login.aspx", //没有用到 wtl:resource 置标时用此路径
                        type: "POST",
                        cache: false,
                        data: data,
                        success: function (state) {
                            switch (state) { //返回0：用户名或密码错误；1:帐号未审核；2：登录成功；3:回收站
                                case "-1":
                                    parent.find("image[src='checkcode.ashx']").click(); //刷新验证码
                                    alert("验证码不正确");
                                    break;
                                case "0":
                                    alert("用户名或密码错误");
                                    break;
                                case "1":
                                    alert("帐号未审核");
                                    break;
                                case "2":
                                    alert("登录成功");
                                    location.href = whir.site.getAppPath() + "member/index.aspx";
                                    //location.href = "{$syspath}member/index.aspx";
                                    break;
                                case "3":
                                    alert("帐号已被冻结");
                                    break;
                                default:
                                    alert("登录失败");
                                    break;
                            }
                        },
                        error: function () {
                            alert("登录失败");
                        }
                    });
                });
            });
        </script>
        <div class="member_form">
            <table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" labelcanva="true">
                <tbody>
                    <tr>
                        <td class="f_name">
                            <span class="form_err">*</span>用户名：
                        </td>
                        <td>
                            <input class="text" name="loginname" />
                        </td>
                    </tr>
                    <tr>
                        <td class="f_name">
                            <span class="form_err">*</span>密 码：
                        </td>
                        <td>
                            <input class="text" name="password" type="password" /><a class="a_pw" href="#">忘记密码？</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="f_name">
                            <span class="form_err">*</span>验证码：
                        </td>
                        <td>
                            <input class="text" name="validator" maxlength="4" /><span class="code"><img src="checkcode.ashx"
                                onclick="this.src=this.src+'?'" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f_name">
                            &nbsp;
                        </td>
                        <td>
                            <input name="autologin" type="checkbox" />下次自动登录
                        </td>
                    </tr>
                    <tr>
                        <td class="f_name">
                            &nbsp;
                        </td>
                        <td>
                            <a class="a_login" href="javascript:;" commandbutton="login">登录</a>&nbsp;&nbsp;<a
                                class="a_reg" href="#">注册</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>