    <script type="text/javascript">
        loadSuccess = true;
        $(function () {
            $.ajax({
                //url: whir.site.getAppPath()+'label/member/getinfo.aspx',
                url: whir.site.getAppPath() + 'label/member/getinfo.aspx',
                type: 'GET',
                success: function (data) {
                    editData = eval(data);
                    for (var i = 0; i < editData.length; i++) {//设值进控件
                        $("#" + editData[i].Key).val(editData[i].Value);
                    }
                    //选项
                    loadOptions();
                    //地区
                    setArea();
                }
            });
        });
    </script>