
  <div id="uploader{0}" class="wu-example" data-key-formId="{0}">
    <div class="queueList">
      <div class="placeholder">
        <div id="filePicker{0}"></div>
        <p>拖拽文件到这里 …</p>
      </div>
    </div>
    <div class="statusBar" style="display: none;">
      <div class="progress">
        <span class="text">0%</span>
        <span class="percentage"></span>
      </div>
      <div class="info"></div>
      <div class="btns">
        <div id="filePicker2{0}"></div>
        <div class="uploadBtn">开始上传</div>
        <input type="hidden" id="{1}" name="{1}"  />{8}
      </div>
    </div>
  </div>

  <script>
    var opt{0} = [
    fileId: "#uploader{0}",
    filePicker: "#filePicker{0}",
    filePicker2: "#filePicker2{0}",
    fileUrl: "#{1}",
    fileExt: "{2}",
    fileExtMsg:"{6}",
    size: {3},//KB
    maxSizeMsg:"{7}",
    isMulti: {4},
    lang:"cn",
    isPic: {5},
    formId:{0}
    ];
    var closeUploader{0}= $('#uploader').UploadRun(opt{0});
  </script>
