<?xml version="1.0" encoding="utf-8"?>
<Alipay xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <V_Oid>123456</V_Oid>
  <V_Amount>2586</V_Amount>
  <V_Mid>234</V_Mid>
  <V_Url>http://www.baidu.com</V_Url>
  <PayOnlineKey>234</PayOnlineKey>
  <Notify_url>http://192.168.1.142:8018/Payment/AlipayNotify.aspx</Notify_url>
  <ReturnURL>http://192.168.1.142:8018/Payment/AlipayReturn.aspx</ReturnURL>
  <Seller_email>234</Seller_email>
</Alipay>