<?xml version="1.0" encoding="utf-8"?>
<PayTypeList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <item>
    <id>0</id>
    <name>货到付款</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>cod</paytype>
    <introduce>货到付款</introduce>
    <sort>0</sort>
  </item>
  <item>
    <id>1</id>
    <name>支付宝手机H5支付</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>alipaywap</paytype>
    <introduce>支付宝（中国）网络技术有限公司是国内领先的独立第三方支付平台，由阿里巴巴集团创办</introduce>
    <sort>1</sort>
  </item>
  <item>
    <id>2</id>
    <name>支付宝即时到账接口</name>
    <isopen>1</isopen>
    <paycharge>0</paycharge>
    <paytype>alipayinstant</paytype>
    <introduce>支付宝（中国）网络技术有限公司是国内领先的独立第三方支付平台，由阿里巴巴集团创办</introduce>
    <sort>2</sort>
  </item>
  <item>
    <id>3</id>
    <name>快钱支付网关</name>
    <isopen>0</isopen>
    <paycharge>10</paycharge>
    <paytype>99bill</paytype>
    <introduce>快钱是国内领先的独立第三方支付企业，旨在为各类企业及个人提供安全、便捷和保密的综合电子支付服务</introduce>
    <sort>3</sort>
  </item>
  <item>
    <id>4</id>
    <name>ChinaBank网银在线支付网关</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>chinabank</paytype>
    <introduce>网银在线（北京）科技有限公司是2003年6月在中关村注册的高新技术企业，致力于为国内中小型企业提供完善的电子支付解决方案</introduce>
    <sort>4</sort>
  </item>
  <item>
    <id>5</id>
    <name>ChinaPay银联在线支付网关</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>chinapay</paytype>
    <introduce>&amp;quot;银联在线&amp;quot;是中国银联倾力打造的互联网业务综合商务门户网站，致力于面向广大银联卡持卡人提供&amp;quot;安全、便捷、高效&amp;quot;的互联网支付服务。</introduce>
    <sort>5</sort>
  </item>
  <!--<item>
    <id>6</id>
    <name>云网在线支付网关</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>cncard</paytype>
    <introduce>云网与全国多家主流银行及通信集团独立直接连接，真正实现了产品的实时在线交易，为电子商务合作伙伴提供网上支付的收费平台</introduce>
    <sort>6</sort>
  </item>-->
  <!--<item>
    <id>7</id>
    <name>中国在线支付网</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>ipay</paytype>
    <introduce>IPay支付网关</introduce>
    <sort>7</sort>
  </item>-->
  <!--<item>
    <id>8</id>
    <name>上海环迅</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>ips</paytype>
    <introduce>IPS环讯支付</introduce>
    <sort>8</sort>
  </item>-->
  <item>
    <id>9</id>
    <name>财付通</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>tenpay</paytype>
    <introduce>财付通是腾讯公司创办的中国领先的在线支付平台，致力于为互联网用户和企业提供安全、便捷、专业的在线支付服务</introduce>
    <sort>9</sort>
  </item>
  <!--<item>
    <id>10</id>
    <name>易付通支付</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>xpay</paytype>
    <introduce>易付通支付</introduce>
    <sort>10</sort>
  </item>-->
  <!--<item>
    <name>西部支付</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype></paytype>
    <introduce>支付宝（中国）网络技术有限公司是国内领先的独立第三方支付平台，由阿里巴巴集团创办</introduce>
  </item>-->
  <item>
    <id>11</id>
    <name>支付宝担保交易接口</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>alipay</paytype>
    <introduce>支付宝（中国）网络技术有限公司是国内领先的独立第三方支付平台，由阿里巴巴集团创办</introduce>
    <sort>2</sort>
  </item>
  <item>
    <id>12</id>
    <name>微信扫码支付</name>
    <isopen>0</isopen>
    <paycharge>0</paycharge>
    <paytype>wechatpay</paytype>
    <introduce>微信扫码支付是腾讯公司创办的在线支付平台，致力于为互联网用户和企业提供安全、便捷、专业的在线支付服务</introduce>
    <sort>2</sort>
  </item>
</PayTypeList>