<div class="RighInfo_002189" data-role="part">
  <div class="auto auto_1200">
      <div class="box">
        <img src="/Editor/Images/RighInfo002189-yzbg.png" class="img">
        <h2 class="tit"><span><i>|</i>【 燃脂堂 】<i>|</i></span><em>hot fitbaby</em></h2>
        <p>如果你想降低自己的体脂含量，无论是一时兴起还是持之以恒，我们都可以一起完成这个目的。</p>
        <p>
        <span class="h3">首先，你要知道——体脂是你最大的敌人。</span>
        体内脂肪含量关系到你终身的健康情况，没错，这种关联是直接且必然的，全球至少有62%的人口最终死于体脂过高，或者由其导致的各种并发症。美丽、长寿、健康、家庭、孩子、事业、幸福等等，都笼罩在体脂的阴影之下。</p>
        <p>
        <span class="h3">其次，你要知道——体脂可以被降低。</span>
        95%的体脂可以通过有效方法降低或维持正常平衡，这需要我们共同为之付出努力。科学的理论和完善的经验
  能帮你有效控制体脂，并由此演化生成一整套健康生活的习惯，从接触的那一刻开始，终身受益。
        </p>
        <p>
        <span class="h3">再次，你要知道——减脂要选择权威机构。</span>
        和大多数只顾赚钱为目标的公司不同，燃脂堂极力关注你体脂改善的情况。燃脂堂整合教练师、营养师、体重
  管理顾问、康复顾问、用户体验师，以及品牌、管理、供应、IT等领域专业人才，为你创造惊喜不断的减脂周
  期，敬请加入我们的家庭。
        </p>
      </div>
  </div>
</div>
