
<div class="RighInfo_002224" data-role="part">
	<div class="auto_1200 auto">
		<div class="wrap-content">
			<div class="item clearfix">
				<div class="word">
					<h2 class="tit">舒适／自然</h2>
					<p class="con">格调优雅的色纺纱，不曾缺席居家生活的每一份美好与幸福。</p>
				</div>
				<div class="pic"><img src="/Editor/Images/RighInfo002224-img1.jpg" alt=""> </div>
			</div>

			<div class="item odd clearfix">
				<div class="word">
					<h2 class="tit"><em>home</em>01</h2>
					<p class="con">华孚采用优质新疆棉，底色白净、表面光洁与兰精莫代尔混纺，提升织物柔软与垂顺的质感，让我们穿着更舒适。经典的残雪纱，使产品颜色具有丰富的层次感，外观风格朦胧高雅，柔美的花纹给我们带来更自然更柔和的感受。</p>
				</div>
				<div class="pic"><img alt="" src="/Editor/Images/RighInfo002224-img2.jpg"></div>
			</div>

			<div class="item three clearfix">
				<div class="word">
					<h2 class="tit"><em>home</em>02</h2>
					<p class="con">经典的竹节纱使织物的手感凹凸有致，外观自然时尚，优质的新疆长绒棉和羊毛混纺更让服装手感柔软富有弹性，光泽柔和自然，凸显品质。</p>
				</div>
				<div class="pic"><img alt="" src="/Editor/Images/RighInfo002224-img3.jpg"></div>
			</div>
			
			<div class="item odd clearfix">
				<div class="word">
					<h2 class="tit"><em>home</em>03</h2>
					<p class="con">华孚精选新疆长绒棉，采用创新科技改善色纺纱强力，生产精细轻薄的高支纱，使色纺应用在梭织领域，色纺纱灵活的配棉工艺，使梭织产品在色彩表现上更柔和，产品经过水洗加工，拥有温暖柔软的触感。低饱和度的灰色和咖啡色，简约更时尚。</p>
				</div>
				<div class="pic"><img alt="" src="/Editor/Images/RighInfo002224-img4.jpg"></div>
			</div>

		</div>
	</div>
</div>